.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}


.accordion{
  width: 60%;
}

.course{
  background: lightgrey;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content{
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}
.content.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

@media only screen and (max-width: 600px) {
  .title{
    font-size: 12px;
  }
}
