.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.project h1 {
  margin-top: 50px;
  color: black;
  font-size: 35px;
}
.project img {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  object-fit: contain;
}

.project p {
  font-size: 30px;
  color: black;
}

.project svg {
  font-size: 60px;
  color: black;
}